<%- include("partials/header") %>
<!DOCTYPE html>
<div class="container">
<header class="jumbotron jumbotron-fluid">
<div class="container">
	
<h1>Welcome to Sierra!</h1>
	<p>
		"The great artist is the simplifier" ~Vincent Van Gogh
	</p>
	
</div>

</header>


<div class="links">
	<a href="/paintings">Paintings</a>
</div>
<div class="links">
	<a href="/pencil">Pencil Art</a>
</div>
<div class="links">
	<a href="/antiques">Antiques</a>
</div>
	
</div>


<%- include("partials/footer") %>