<%- include("partials/header") %>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" href="styles.css" />
	
	<div class="login-box">
	<h1>
		Login
	</h1>
	</div>
	<div class="login-box">
	<form action="/login" method="post">
	
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

		<!-- <button class="btn" type="submit" value="Login!"> -->
			<button class="btn1">Login</button>
	</form>
	</div>
	<div class="login-box">
		
		<h4>Don't have an account?</h4>
	</div>  
	<a class="login-box" href="/register">Sign Up</a>
	<div class="login-box">
		
		<h4>Forgot Password?</h4>
	</div>  
	<a class="login-box" href="/forgot">Click here to reset password</a>
	
	<%- include("partials/footer") %>